archives/
!.config/nvim/lua/plugins/archives/
.config/xfce4/panel/mailwatch-11.rc
.config/xfce4/desktop
.tt/.errors
/.config/nnn/bookmarks/
/.emacs.d/.git
/push.sh
/README.html
*.bk/
/.meow.d/
.emacs.d/eshell/history
